.container {
    width: 50%;
    float: left;
}
label {
    margin-top: 30px;
    color: lightgray;
}
input[type=button] {
    margin-top: 30px;
    padding: 10px 30px;
    color: white;
    background: orange;
    border: 0px;
}