.container {
    .row {
        .heading {
            background: #ececec;
            margin-top: 40px;
            h4 {
                color: gray;
                padding: 10px 0px;
            }
        }
        .form-div {
            margin: 40px auto 0 auto;
            background: #e8e8e8;
            h3,h6,input,select {
                margin-bottom: 25px;
            }
            input[type=text],input[type=password],select {
                width: 70%;
            }
            ul {
                list-style: none;
                display: flex;
                padding: 0px;
                li:not(:first-child) {
                    margin-left: 25px;
                }
                input[type=button] {
                    background: #ff9800;
                    color: white;
                    border: 0px;
                }
            }
            input[type=radio],input[type=checkbox] {
                margin-right: 20px;
            }
        }
    }
}
