<app-header></app-header>
<router-outlet></router-outlet>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="margin: 0 auto;">Message</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="focusElement()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="msgContent" style="margin:0px;">{{message}}</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button"  class="btn btn-success msgBtn" data-dismiss="modal" (click)="focusElement(message)" autofocus>Ok</button>
      </div>
    </div>
  </div>
</div>