/* You can add global styles to this file, and also import other style files */
.zero-padding {
    padding: 0px;
}
.zero-margin {
    margin: 0px;
}
.flex-display {
    display: flex;
}
.errorMsg {
    color: red;
    position: absolute;
    bottom: -25px;
}